<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>On Site Booking</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
            $(document).ready(function(){
                const params = new URLSearchParams(window.location.search)
                var givenName = params.get('userGivenName');
                var familyName = params.get('userFamilyName');
                var id = params.get('userid');

                console.log(givenName)
                console.log(familyName)
                console.log(id)

                  $("#adminName").text("Admin Name: " + givenName + " " + familyName);
                  $("#adminID").text("Admin ID: " + id);

                $.ajax({
                         url:'http://localhost:8080/booking/bookingController',

                         method:'GET',
                         crossDomain: true,

                         "headers": {
                            "accept": "application/json",
                             "Access-Control-Allow-Origin":"*"
                         },
                         success: function(result) {
                         var date = new Date();
                         var currentDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();

                         if (date.getMonth() < 10) {
                          currentDate = date.getFullYear() + "-0" + (date.getMonth() + 1) + "-" + date.getDate();
                         }

                         console.log(date)
                         console.log(currentDate)
                                for (let i = 0; i < result.length; i++) {
                                var createdAt = result[i].createdAt;
                                console.log(createdAt.substring(0,10));
                                    if (result[i].status == "CANCELLED") {
                                        $('#CurrentCancelledBookingsTable').append("<tr>\
                                            <td>"+result[i].id+"</td>\
                                            <td>"+result[i].customer.id+"</td>\
                                            <td>"+result[i].customer.givenName+"</td>\
                                            <td>"+result[i].customer.familyName+"</td>\
                                            <td>"+result[i].customer.phoneNumber+ "</td>\
                                            <td>"+result[i].status+"</td>\
                                            </tr>");
                                         $('#CurrentModifiedBookingsTable').append("<tr>\
                                          <td>"+result[i].id+"</td>\
                                          <td>"+result[i].customer.id+"</td>\
                                          <td>"+result[i].customer.givenName+"</td>\
                                          <td>"+result[i].customer.familyName+"</td>\
                                          <td>"+ result[i].notes+ "</td>\
                                          <td>"+ result[i].startTime+ "</td>\
                                          <td>"+result[i].testingSite.id+"</td>\
                                          <td>"+result[i].testingSite.name+"</td>\
                                          </tr>");
                                    } else if (result[i].additionalInfo.modified == "true"){
                                    $('#CurrentModifiedBookingsTable').append("<tr>\
                                          <td>"+result[i].id+"</td>\
                                          <td>"+result[i].customer.id+"</td>\
                                          <td>"+result[i].customer.givenName+"</td>\
                                          <td>"+result[i].customer.familyName+"</td>\
                                          <td>"+ result[i].notes+ "</td>\
                                          <td>"+ result[i].startTime+ "</td>\
                                          <td>"+result[i].testingSite.id+"</td>\
                                          <td>"+result[i].testingSite.name+"</td>\
                                          </tr>");
                                    } else if (currentDate.localeCompare(createdAt.substring(0,10)) == 0) {
                                         $('#CurrentNewBookingsTable').append("<tr>\
                                          <td>"+result[i].id+"</td>\
                                          <td>"+result[i].customer.id+"</td>\
                                          <td>"+result[i].customer.givenName+"</td>\
                                          <td>"+result[i].customer.familyName+"</td>\
                                          <td>"+result[i].customer.phoneNumber+"</td>\
                                          <td>"+ result[i].notes+ "</td>\
                                          <td>"+ result[i].startTime+ "</td>\
                                          <td>"+result[i].testingSite.id+"</td>\
                                          <td>"+result[i].testingSite.name+"</td>\
                                          </tr>");
                                    }
                                }

                         },
                         error: function(jqXHR, textStatus, errorMessage) {
                            console.log("table page failed")
                          }
                });

                $.ajax({
                         url:'http://localhost:8080/testing-site/facilityController',

                         method:'GET',
                         crossDomain: true,

                         "headers": {
                            "accept": "application/json",
                             "Access-Control-Allow-Origin":"*"
                         },
                         success: function(result) {
                                for (let i = 0; i < result.length; i++) {
                                    if (result[i].description != null) {
                                        $('#CurrentTestingSitesTable').append("<tr>\
                                        <td>"+result[i].id+"</td>\
										<td>"+result[i].name+"</td>\
										</tr>");
                                    }
                                }

                         },
                         error: function(jqXHR, textStatus, errorMessage) {
                            console.log("table page failed")
                          }

                    });

                    $("#modify").click(function(){
                    var bookingID = $("#bookingID").val().trim();
                    var testingsiteID = $("#testingsiteID").val().trim();
                    var date = $("#date").val().trim();
                    var time = $("#time").val().trim();
                    console.log(testingsiteID);
                    console.log(date);
                    console.log(time);
                    console.log(bookingID)
                    $.ajax({
                         url:'http://localhost:8080/booking/onsite/bookingController/'+bookingID+'/'+testingsiteID+'/'+date+'/'+time,

                         method:'PUT',
                         crossDomain: true,
                         dataType: 'json',

                         "headers": {
                            "accept": "application/json",
                             "Access-Control-Allow-Origin":"*"
                         },
                         success: function(result) {
                            console.log(result)
                            alert("successful modification. Notification has been sent")
                         },
                         error: function(jqXHR, textStatus, errorMessage) {
                            console.log("on site booking failed")
                            console.log(textStatus)
                            alert("Error: Invalid input")
                          }

                      });
                });

            });

        </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet'>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Page Title -->
      <span class="mdl-layout-title">On Site Booking</span>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a id ="main" href="./adminOnSiteBooking.html" class="mdl-layout__tab is-active">On Site Booking</a>
      <a  id ="routetab" href="./adminOnSiteBookingModification.html" class="mdl-layout__tab">On Site Booking Modification</a>
      <a  id ="bookDelete" href="./adminOnSiteBookingDelete.html" class="mdl-layout__tab">On Site Booking Delete</a>
      <a  id ="phoneCall" href="./adminPhoneCallValid.html" class="mdl-layout__tab">Phone Call Modification</a>
    </div>
  </header>

  <h1>On Site Booking Modification</h1>

  <div>
    <h4 id="adminName">Admin Name: GivenName then FamilyName</h4>
    <h4 id="adminID">Admin ID: admin id</h4>

    <div id="userForm">
      <h4>Client registration for on site booking</h4>
      <label><b>Given Name</b></label>
      <input type="text" placeholder="Enter given name" name="user" id="givenName" required><br/>
      <label><b>Family Name</b></label>
      <input type="text" placeholder="Enter family name" name="user" id="familyName" required><br/>
      <label><b>Phone number</b></label>
      <input type="text" placeholder="Enter phone number" name="user" id="phoneNumber" required><br/>
      <label><b>Client ID</b></label>
      <input type="text" placeholder="Enter Client ID" name="user" id="clientID" required><br/>
      <label><b>Testing Site ID</b></label>
      <input type="text" placeholder="Enter Testing Site ID" name="user" id="testingsiteID" required><br/>
      <label><b>Booking ID</b></label>
      <input type="text" placeholder="Enter Booking ID" name="user" id="bookingID" required><br/>
      <b> Date of Booking </b>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="date" id="date" name="user">
      </div>
      <br>
      <b> Time of Booking </b>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

        <input type="time" id="time" name="user">
      </div>
      <br>
    </div>
    <button id="modify" type="submit">Modify Booking</button>

    <div>
      <h4>On Site Testing Sites</h4>
      <table id="table" border="1">
        <tr>
          <th>On Site Testing ID</th>
          <th>On Site Testing Name</th>
        </tr>
        <tbody id="CurrentTestingSitesTable">

        </tbody>
      </table>
    </div>

    <div>
      <h4>Modified Bookings</h4>
      <table id="table2" border="1">
        <tr>
          <th>Booking ID</th>
          <th>Client ID</th>
          <th>Client Given Name</th>
          <th>Client Family Name</th>
          <th>Client Pin Code</th>
          <th>Client Booking Time</th>
          <th>On Site Testing ID</th>
          <th>On Site Testing Name</th>
        </tr>
        <tbody id="CurrentModifiedBookingsTable">

        </tbody>
      </table>

      <h4>Cancelled Bookings</h4>
      <table id="table3" border="1">
        <tr>
          <th>Booking ID</th>
          <th>Client ID</th>
          <th>Client Given Name</th>
          <th>Client Family Name</th>
          <th>Client Phone number</th>
          <th>Client Pin Code</th>
        </tr>
        <tbody id="CurrentCancelledBookingsTable">

        </tbody>
      </table>

      <h4>New Bookings</h4>
      <table id="table4" border="1">
        <tr>
          <th>Booking ID</th>
          <th>Client ID</th>
          <th>Client Given Name</th>
          <th>Client Family Name</th>
          <th>Client Phone number</th>
          <th>Client Pin Code</th>
          <th>Client Booking Time</th>
          <th>On Site Testing ID</th>
          <th>On Site Testing Name</th>
        </tr>
        <tbody id="CurrentNewBookingsTable">

        </tbody>
      </table>

    </div>

  </div>



</div>

</body>
</html>