<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On Site Booking Delete</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                const params = new URLSearchParams(window.location.search)
                var givenName = params.get('userGivenName');
                var familyName = params.get('userFamilyName');
                var id = params.get('userid');

                console.log(givenName)
                console.log(familyName)
                console.log(id)

                  $("#adminName").text("Admin Name: " + givenName + " " + familyName);
                  $("#adminID").text("Admin ID: " + id);

                $.ajax({
                         url:'http://localhost:8080/booking/bookingController',

                         method:'GET',
                         crossDomain: true,

                         "headers": {
                            "accept": "application/json",
                             "Access-Control-Allow-Origin":"*"
                         },
                         success: function(result) {
                                for (let i = 0; i < result.length; i++) {
                                    $('#CurrentBookingsTable').append("<tr>\
                                        <td>"+result[i].id+"</td>\
										<td>"+result[i].customer.id+"</td>\
										<td>"+result[i].customer.givenName+"</td>\
										<td>"+result[i].customer.familyName+"</td>\
										<td>"+ result[i].notes+ "</td>\
										<td>"+ result[i].startTime+ "</td>\
										<td>"+result[i].testingSite.id+"</td>\
										<td>"+result[i].testingSite.name+"</td>\
										<td>"+result[i].status+"</td>\
										</tr>");
                                    if (result[i].status == "CANCELLED") {
                                        $('#CurrentCancelledBookingsTable').append("<tr>\
                                            <td>"+result[i].id+"</td>\
                                            <td>"+result[i].customer.id+"</td>\
                                            <td>"+result[i].customer.givenName+"</td>\
                                            <td>"+result[i].customer.familyName+"</td>\
                                            <td>"+result[i].customer.phoneNumber+ "</td>\
                                            <td>"+result[i].status+"</td>\
                                            </tr>");
                                    }
                                }

                         },
                         error: function(jqXHR, textStatus, errorMessage) {
                            console.log("table page failed")
                          }
                });

                $("#cancel").click(function(){
                    var bookingID = $("#bookingID").val().trim();
                    console.log(bookingID)

                    $.ajax({
                         url:'http://localhost:8080/booking/onsite/phoneController/checkPending/' + bookingID,

                         method:'GET',
                         crossDomain: true,
                         dataType: 'json',

                         "headers": {
                            "accept": "application/json",
                             "Access-Control-Allow-Origin":"*"
                         },
                         success: function(result) {
                            $.ajax({
                                 url:'http://localhost:8080/booking/onsite/bookingController/' + bookingID,

                                 method:'PUT',
                                 crossDomain: true,
                                 dataType: 'json',

                                 "headers": {
                                    "accept": "application/json",
                                     "Access-Control-Allow-Origin":"*"
                                 },
                                 success: function(result) {
                                    alert("successful cancellation")
                                    window.location.reload()
                                    for (let i = 0; i < result.length; i++) {
                                    $('#CurrentCancelledBookingsTable').append("<tr>\
                                        <td>"+result[i].id+"</td>\
										<td>"+result[i].customer.id+"</td>\
										<td>"+result[i].customer.givenName+"</td>\
										<td>"+result[i].customer.familyName+"</td>\
										<td>"+result[i].phoneNumber+ "</td>\
										<td>"+result[i].status+"</td>\
										</tr>");
                                }
                                 },
                                 error: function(jqXHR, textStatus, errorMessage) {
                                    console.log("cancellation failed")
                                    console.log(textStatus)
                                    alert("Error: Invalid Input")
                                  }

                              });

                         },
                         error: function(jqXHR, textStatus, errorMessage) {
                            console.log("cancellation failed")
                            console.log(textStatus)
                            alert("Error: Covid test has been performed")
                          }

                      });
                });

                $("#delete").click(function(){
                    var bookingID = $("#bookingID").val().trim();
                    console.log(bookingID)

                    $.ajax({
                         url:'http://localhost:8080/booking/onsite/phoneController/checkPending/' + bookingID,

                         method:'GET',
                         crossDomain: true,
                         dataType: 'json',

                         "headers": {
                            "accept": "application/json",
                             "Access-Control-Allow-Origin":"*"
                         },
                         success: function(result) {
                            $.ajax({
                                 url:'http://localhost:8080/booking/onsite/bookingController/' + bookingID,

                                 method:'DELETE',
                                 crossDomain: true,
                                 dataType: 'json',

                                 "headers": {
                                    "accept": "application/json",
                                     "Access-Control-Allow-Origin":"*"
                                 },
                                 success: function(result) {
                                    alert("successful delete")
                                    window.location.reload()
                                 },
                                 error: function(jqXHR, textStatus, errorMessage) {
                                    console.log("delete failed")
                                    console.log(textStatus)
                                    alert("Error: Invalid Input")
                                  }

                              });

                         },
                         error: function(jqXHR, textStatus, errorMessage) {
                            console.log("cancellation failed")
                            console.log(textStatus)
                            alert("Error: Covid test has been performed")
                          }

                      });
                });

            });
        </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css' rel='stylesheet'>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Page Title -->
            <span class="mdl-layout-title">On Site Booking Delete/Cancel</span>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a id ="main" href="./adminOnSiteBooking.html" class="mdl-layout__tab is-active">On Site Booking</a>
            <a  id ="routetab" href="./adminOnSiteBookingModification.html" class="mdl-layout__tab">On Site Booking Modification</a>
            <a  id ="bookDelete" href="./adminOnSiteBookingDelete.html" class="mdl-layout__tab">On Site Booking Delete</a>
            <a  id ="phoneCall" href="./adminPhoneCallValid.html" class="mdl-layout__tab">Phone Call Modification</a>
        </div>
    </header>

    <h1>On Site booking Delete/Cancel</h1>

    <div>
        <h4 id="adminName">Admin Name: GivenName then FamilyName</h4>
        <h4 id="adminID">Admin ID: admin id</h4>

        <div id="userForm">
            <h4>Client details</h4>
            <label><b>Booking ID Name</b></label>
            <input type="text" placeholder="Enter client booking id" name="user" id="bookingID" required><br/>
        </div>
        <button id="delete" type="submit">Delete Booking</button>
        <button id="cancel" type="submit">Cancel Booking</button>

        <div>
            <h4>Cancelled Bookings</h4>
            <table id="table1" border="1">
                <tr>
                    <th>Booking ID</th>
                    <th>Client ID</th>
                    <th>Client Given Name</th>
                    <th>Client Family Name</th>
                    <th>Client Phone number</th>
                    <th>Client Status</th>
                </tr>
                <tbody id="CurrentCancelledBookingsTable">

                </tbody>
            </table>

            <h4>Bookings</h4>
            <table id="table2" border="1">
                <tr>
                    <th>Booking ID</th>
                    <th>Client ID</th>
                    <th>Client Given Name</th>
                    <th>Client Family Name</th>
                    <th>Client Pin Code</th>
                    <th>Client Booking Time</th>
                    <th>Testing Site ID</th>
                    <th>Testing Site Name</th>
                    <th>Client Booking Status</th>
                </tr>
                <tbody id="CurrentBookingsTable">
                </tbody>
            </table>
        </div>

        </div>

</div>

</body>
</html>